@media only screen and (max-width : 480px)
{   * {
	justify-content: center;
	margin: auto;
	padding: 0px;
	max-width: 30rem;


}
ul {
		display: inline-block;
		height: auto;
	}


li{
		display: flex;
    	flex-wrap: wrap;
	}

.top_block  {
		display: none;
	}

.mainmenu  {
	opacity: 1;

}

nav {
	max-width: 30rem;

	}

header {
	max-width: 30rem;
	height: 47.5rem;
	background-position: center;
	}
header button  {
	margin-top: 475px;
    margin-left: 0px;
}



.revoleditor {
		max-width: 30rem;
		height: 318px;
		
		
	}

.revoleditor h2 {
		width: 26.438rem;
		height: 5.25rem;
		line-height: 3rem;
		font-size: 3rem;
		padding: 50px 0px 0px 0px;
		margin: 10px;
	}

.revoleditor ul  
	 {display: flex;
		padding: 0px 50px 0px 50px;
	}

.account {
	max-width:30rem;
	height: 453px;
	padding: 50px 0px 50px 0px;
	
}
.account button {
	margin: 0px 75px 25px 75px;
}
.account ul {
	display: inline-block;


}
.account_inf {

	width: 20.313rem;
	height: 7.938rem;
	font-size: 1.063rem;
	font-weight: 400;
	line-height: 1.5rem;

}
.accont span {
	padding: 5px;
}
.follow span {
	opacity: 0;
}
.example_code{
	max-width: 30rem;
	height: 85.125rem;
	margin: 0px;

	}

.example_code li {
	display: flex;

}
.txt {
	display: none;
}


	.codepicfirst {
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
}
.codetxtfirst{
	height: 150px;
	width: 300px;
	padding-bottom: 34px;
	float: left;
}
.codepicsecond {
	width: 150px;
	height: 80px;
	background-image: url(img/code2.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
}

.codepicthird {
	width: 150px;
	height: 80px;
	background-image: url(img/code3.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
}
.codepicfour {
	width: 150px;
	height: 80px;
	background-image: url(img/code4.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
}

	
.generalpic {
	max-width: 30rem;
	height: 235rem;
}



.normalpic{
max-width: 30rem;
height: 85.5rem;
background-image: url(img/adnorfon.png);
background-color: #4b3b4e;
}

.generalpic h2 {
	width: 26.5rem;
	height: 6.75rem;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 3rem;
	font-weight: 700;
	line-height: 3.75rem;
	padding-bottom: 50px;

}
.normalinf li {
	display: inline-block;
	margin: 0px;
	}

	
.trablpic{
	max-width: 30rem;
	height: 156.375rem;
	background-color: #4b3b4e;
	background-image: url(img/adtrabfon.png);
	justify-content: center;


}
.forksub {
	margin: 25px 35px 25px 5px;
}

.trablpic p {

	width: 22.688rem;
	height: 7.313rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.313rem;
	margin: -50px 30px 50px 30px;
}
.subscribe {
	max-width: 30rem;
	height: 13.125rem;
	background-color: #f4f4f4;
}

.subscribe  h4 {
	margin: 0px -75px 0px 25px;
	
	width: 25.25rem;
   height: 1.875rem;
}
.forkio {
	max-width: 30rem;
	height: 75rem;

	}

.inform { 
max-width: 30rem;
	height: 103.125rem;
	padding: 25px;

 }

 .inform ul {
	display: inline-block;

}
.inform li{
		display: flex;
    	flex-wrap: wrap;
    	width: 24.5rem;

	}

.footinf {
	padding: 100px;

		
	}


}
